.site-footer {
    background: #333333; //charcoal grey
    clear: both;
    padding: 1em;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    
    a {
        color: #cc9933; // websafe gold
        text-decoration: none;
    }
    
    & a:hover,
    & a:focus {
        color: #E3C71C; // #cc9933 mixed with #FFFF00
    }
    
    .site-info {
        text-align: center; 
        color: white;
    }
}

footer.entry-footer {
    display: flex;
    flex-flow: column nowrap;
}


