#primary div#bbpress-forums > ul {
    font-size: 1.5rem;
}

@media screen and (min-width: 1198px) and (max-width: 1459px) {
    #primary div#bbpress-forums > ul {
        font-size: 1.125rem;
    }
}

@media screen and (min-width: 914px) and (max-width: 1197px) {
    #primary div#bbpress-forums > ul {
        font-size: 1.125rem;
    }
}
